body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-decoration: none;
    line-height: 1.5;
}
body {
    background-color:#cbe0ec;
    transition: background-color 0.9s ease;
}
h1 {
    font-family:Helvetica;
    margin:55px 0px 0px 15px;
    font-size: 50pt;
    font-weight:400;
}
ul {
    list-style-type: none;
}
section {
    margin: 0px ;
}
a {
    color: rgb(0, 0, 0);
    font-size: 16.5px;
}
p, li {
    color: rgba(43, 43, 43, 0.934)
}
/* ABOUT SECTION */
.about {
    line-height: 1.4;
    margin:5px 0px 0px 15px;
    display: flex;
    height: 100%;
}
.about p {
    margin-left:25px;
    line-height:1.5;
}
.about li {
    margin:5px 0px 0px 25px;
}
.section-link{
    font-size:15px;
    margin-left: 25px;
}
#exp-link{
    margin-top:35px;
}
.section-link a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(41, 41, 41, 0.71)
}
.active a {
    color: rgb(0, 0, 0);
}
.home-pg .container {
    margin:120px 80px 500px 80px;
}
.home-pg h1 {
    margin:55px 0px 0px 25px;
}
.left-container {
    opacity: 0;
    transition: opacity 1s ease;
    width: 50%;
    height:100vh;
    float:left;
    position: fixed;
    max-width:40%;
}
.left-container h2 {
    margin:5px 0px 0px 25px;
}
footer {
    position:fixed;
    margin-top: auto; 
    bottom:0;
    width:50%;
    height:50px;
    text-align:left;
    padding:10px;
    size:150%;
}
/* Style the social icons */
.social-icons {
    font-size: 24px; /* Adjust the font size to make the icons bigger */
    margin-bottom:30px;
  }
  /* Style individual icons */
  .social-icons a i {
    color: rgb(37, 34, 34);
    margin: 0 10px; /* Add spacing between icons */
  }
  
  /* Change the color of icons on hover (optional) */
  .social-icons a:hover i {
    color: rgba(80, 80, 80, 0.796);
  }
.right-container {
    opacity: 0;
    transition: opacity 1s ease;
    margin-left:50%;
    width: 50%;
    height: 100vh;
    position:relative;
}
.right-container h2 {
    margin-left:0;
}
.right-container li {
    line-height: 1.4;
    margin-left:0px;
    margin-right: 145px;
    /*margin-bottom:5px;*/
}
/* RESUME STYLE */
.resume-box {
    margin: 12px 0px 12px 0px;
    padding: 8px 1px 8px 1px;
}
.resumeItemTitle {
    display: flex;
    justify-content: space-between;
    margin:0px;
}
.resumeOrg {
    text-align: left;
    margin-top:15px;
    margin-bottom:2.5px;
}
.resumeTime {
    text-align: right;
    margin-top:18px;
    margin-bottom:2.5px;
    font-weight:400;
    font-size:14px;
}
/* MENU STYLE */
nav {
    z-index: 100;
    display:flex;
    margin:25px;
    justify-content: center;
    position:fixed;
    left:32%;
    top: 5px;
    transition:ease-in-out 1s;
    top:0;
}
.menu {
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding:5;
    text-align:center;
    max-width:50px;
    margin: 0 auto;
}
.menu-container {
    opacity: 0;
    transition: opacity 1s ease;
    border-radius: 50px;
    padding: 5px;
    width:520px;
    align-self: center;
}
.menu-container-dark {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.menu li {
    display: inline; /* Display list items horizontally */
    margin: 15px 20px 15px 20px; /* Add spacing between menu items */
    font-size:17px;
    font-weight: bold;
}

.menu li:last-child {
    margin-right: 20px; /* Remove margin from the last item */
}
  
.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    border:5px;
    transition: background-color 0.7s;
    transition: ease 0.5s;
    text-align:center;
    font-weight: 500;
    border-radius: 50px;
  }
  
.menu a:hover {
    background-color:rgba(246, 253, 238, 0.962); /* Change background color on hover */
    padding: 15px;
}
/* FORM STYLE */
form {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:left;
    margin:0;
    padding:0;
    margin-top:15px;
    margin-right:600px;
}
input, textarea {
    margin:5px 0px 10px 0px;
    padding:10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
textarea {
    padding:50px;
    resize: none;
}
input[type=submit] {
    width:fit-content;
    border-radius: 50px;
    cursor: pointer;
    align-self: center;
}
input[type=submit]:hover {
    background-color:rgba(246, 253, 238, 0.962);
}
.contact-pg .container {
    margin:150px;
}
/* GRID STYLE */
.art-pg p {
    margin:20px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Add spacing between grid items */
    padding: 20px; /* Add padding around the grid */
  }
  
  /* Style the individual grid items */
  .grid-item {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}
  
  /* Style the images within grid items */
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style the captions or labels for the images */
  .grid-item p {
    margin: 10px 0;
  }
  
  #joke {
    display: flex;
    margin-top: 8px;
  }
